
#main{
	padding: 3%;
	background-color: #ff7e00;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/*content: '';width: 100%;height: 60%;	top: 0;left: 0;
    	background-repeat: no-repeat;position: absolute;
	z-index: -1;
*/

}





#intro	{
	width: 100%;
    text-align: center;
    color: white ;
}



@media screen and (max-width: 575.98px){
	#intro	{
		bottom:7%;
		font-size: 24px;
	}

}

.cell2{
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: white;
   	width: 50%;
	height:70%;
}



#Guia{
margin-top: 3%;

}
#listas{
	margin-top: 3%;
}

#cards{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
	height: 100%;
	text-align: start;
}
@media screen and (max-width: 575.98px){
	.cards{

		height: 99%;
	}

}
.cards > li{
	padding:6px;

}
#footer{
	background-color:#F2F2F2 ;
}

@keyframes rebote {
    20%,50%,80%{
		-webkit-transform:translateY(0px);
	    -moz-transform:translateY(0px);
	    -ms-transform:translateY(0px);
	    -o-transform:translateY(0px);
	    transform:translateY(0px);
	}
	40%{
		-webkit-transform:translateY(-45px);
		-moz-transform:translateY(-45px);
		-ms-transform:translateY(-45px);
		-o-transform:translateY(-45px);
		transform:translateY(-45px);
	}
	60%{
	    -webkit-transform:translateY(-25px);
		-moz-transform:translateY(-25px);
		-ms-transform:translateY(-25px);
		-o-transform:translateY(-25px);
		transform:translateY(-25px);
	}
}



@keyframes increase {
	0%{transform:scale(1)}
	100%{transform:scale(2.0)}
}
